# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/

# Virtual environments
.venv/
venv/
.env


# Ignore all TOML/LOCK except project config
*.toml
*.lock
!pyproject.toml
!poetry.lock

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Notebook checkpoints
.ipynb_checkpoints/

# Training artifacts 
runs/

